In [8]:
#Iteration statements using IF and ELSE
num = 6
if num%2 == 0:
    print("Even")

else:
    print("Odd")

Even

In [6]:
#Writing if else statements in a single line
print("Even") if num%2==0 else print("Odd")

Even

Nested if-else in one line

In [11]:
num = 0 
result = "Positive" if num>0 else ("Negative" if num <0 else "Zero")
print(result)

Zero

 List comprehension

In [14]:
L = [1,9,2,10,56,89]
[2*x for x in L]

[2, 18, 4, 20, 112, 178]

In [16]:
#to print even numbers from the list
L = [1,9,2,10,56,89]
[x for x in L if x%2==0]

[2, 10, 56]

In [18]:
#print odd numbers from the list
L = [1,9,2,10,56,89]
[x for x in L if x%2!=0]

[1, 9, 89]

In [34]:
#print the average value of list of numbers using list comprehension
L = [1,9,2,10,56,89]
sum([x for x in L ])/len(L)

27.833333333333332

Dictionary comprehension

In [37]:
d1 = {'Ram':[70,71,98,100] , 'John':[56,98,67,65]}
d1

{'Ram': [70, 71, 98, 100], 'John': [56, 98, 67, 65]}

In [40]:
{k:sum(v)/len(v) for k,v in d1.items()}

{'Ram': 84.75, 'John': 71.5}