In [4]:
scores = {"virat":90,"Rohit":100,"Rahul":70,"Hardik":9,"Gill":20,"Jadeja":30,"Siraz":15}
scores

{'virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 30,
 'Siraz': 15}

In [6]:
#Adding new element
scores["Aswin"]=15
scores

{'virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 30,
 'Siraz': 15,
 'Aswin': 15}

In [14]:
#Updating the dict
scores.update({"Jadeja":50})
scores

{'virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 15,
 'Aswin': 15,
 'Jsdeja': 50}

In [18]:
scores

{'virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 15,
 'Aswin': 15,
 'Jsdeja': 50}

In [22]:
#updating the value and adding another new key value
scores.update({"Hardik":50,"Rahane":45})
scores

{'virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 50,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 15,
 'Aswin': 15,
 'Jsdeja': 50,
 'Rahane': 45}

In [26]:
#Set default keyword to igonre the commands
scores.setdefault("Rahul",60)
scores

{'virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 50,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 15,
 'Aswin': 15,
 'Jsdeja': 50,
 'Rahane': 45}

In [30]:
#Setdefault with a new dict key
scores.setdefault("Pujara",60)
scores

{'virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 50,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 15,
 'Aswin': 15,
 'Jsdeja': 50,
 'Rahane': 45,
 'Pujara': 60}

In [42]:
#Popitem is used to remove last item from the list
scores.popitem()
scores

{'virat': 90, 'Rohit': 100, 'Rahul': 70, 'Hardik': 50, 'Gill': 20}

In [46]:
#Get method is used to retrive the data from the dict
scores.get("Gill")

20

In [66]:
list1 = ["A","B","C","D"]
my_dict=dict.fromkeys(list1,20)
my_dict

{'A': 20, 'B': 20, 'C': 20, 'D': 20}

In [74]:
my_dict.update({"B":30,"C":40,"D":50})
my_dict

{'A': 20, 'B': 30, 'C': 40, 'D': 50}

In [86]:
for k in scores.keys():
    if k == 'Hardik':
        scores[k]=19

scores

{'virat': 90, 'Rohit': 100, 'Rahul': 70, 'Hardik': 19, 'Gill': 20}

In [88]:
scores_list=[]
for v in scores.values():
    scores_list.append(v)

print(scores_list)
print("Total score: ",sum(scores_list))

[90, 100, 70, 19, 20]
Total score:  299