<a href="https://colab.research.google.com/github/saiumesh-28/python-ad/blob/main/feature_Scaling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler # Corrected the typo: MinmaxScaler to MinMaxScaler

data = {
    "age": [25, 30, 35, 40, 45],
    "height": [150, 160, 170, 180, 190],
    "weight": [50, 60, 70, 80, 90],
}
df = pd.DataFrame(data)
print(df)

# Create a MinMaxScaler object
scaler = MinMaxScaler()  # Assign the MinMaxScaler object to the variable 'scaler'

# Fit and transform the data
scaled_data = scaler.fit_transform(df)

# Create a DataFrame from the scaled data
normalized_df = pd.DataFrame(scaled_data, columns=df.columns)  # Changed normalized_data to normalized_df

print("\nNormalized DataFrame (scaled to range [0, 1]):")
print(normalized_df)

   age  height  weight
0   25     150      50
1   30     160      60
2   35     170      70
3   40     180      80
4   45     190      90

Normalized DataFrame (scaled to range [0, 1]):
    age  height  weight
0  0.00    0.00    0.00
1  0.25    0.25    0.25
2  0.50    0.50    0.50
3  0.75    0.75    0.75
4  1.00    1.00    1.00

In [8]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Sample data
data = {
    "customer_id":[1, 2, 3, 4],
    "gender": ["male", "female", "male", "female"],
    "friuts":["apple", "bannana", "mango", "gova"],
}

# Creating DataFrame
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Applying LabelEncoder on 'gender' and 'city'
df['gender_encoded'] = label_encoder.fit_transform(df['gender'])
df['friuts_encoded'] = label_encoder.fit_transform(df['friuts'])

print("\nDataFrame after Label Encoding:")
print(df)

Original DataFrame:
   customer_id  gender   friuts
0            1    male    apple
1            2  female  bannana
2            3    male    mango
3            4  female     gova

DataFrame after Label Encoding:
   customer_id  gender   friuts  gender_encoded  friuts_encoded
0            1    male    apple               1               0
1            2  female  bannana               0               1
2            3    male    mango               1               3
3            4  female     gova               0               2

In [2]:
import pandas as pd

# Dataset with added City column
data = {
    "Customer_Id": [1, 2, 3, 4],
    "Gender": ["Male", "Female", "Feale", "Male"],
    "Subscription_Status": ["Active", "Inactive", "Active", "Inactive"],
    "City": ["New York", "Los Angeles", "Chicago", "Houston"]  # Added City data
}

df = pd.DataFrame(data)

print("Original data with City:")
print(df)

# ----- Encoding Gender -----
# Replace typo 'Feale' with 'Female'
df['Gender'] = df['Gender'].replace('Feale', 'Female')

# Custom mapping for Gender encoding
gender_mapping = {"Male": 1, "Female": 0}
df['gender_encoded'] = df['Gender'].map(gender_mapping)
df['gender_encoded'] = df['gender_encoded'].astype(int)

# ----- Encoding City -----
# Get unique cities
unique_cities = df['City'].unique()

# Create new columns for each city and set to 1 if city is present
for city in unique_cities:
    df[city.replace(" ", "_")] = (df['City'] == city).astype(int)  # Assign 1 if city matches, replace spaces in column names

# Display the modified DataFrame
print("\nData with encoded gender and City (positive 1 and 0):")
print(df)

Original data with City:
   Customer_Id  Gender Subscription_Status         City
0            1    Male              Active     New York
1            2  Female            Inactive  Los Angeles
2            3   Feale              Active      Chicago
3            4    Male            Inactive      Houston

Data with encoded gender and City (positive 1 and 0):
   Customer_Id  Gender Subscription_Status         City  gender_encoded  \
0            1    Male              Active     New York               1
1            2  Female            Inactive  Los Angeles               0
2            3  Female              Active      Chicago               0
3            4    Male            Inactive      Houston               1

   New_York  Los_Angeles  Chicago  Houston
0         1            0        0        0
1         0            1        0        0
2         0            0        1        0
3         0            0        0        1