In [6]:
#Set printing and printing type 
s1 = {1,8,9,0,10,9,0,1,9}
print(s1)
print(type(s1))

{0, 1, 8, 9, 10}
<class 'set'>

In [8]:
lst1 = [1,8,9,0,10,20,78,8,8,8]

In [10]:
s2 = set(lst1)
print(s2)
print(type(s2))

{0, 1, 8, 9, 10, 78, 20}
<class 'set'>

In [12]:
#Union operation using | operator
s1 = {1,2,3,4}
s2 = {3,4,5,6}

In [14]:
#Using | operator
s1 | s2

{1, 2, 3, 4, 5, 6}

In [16]:
#Using .union method
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [18]:
#Intersection using & operator
s1 = {1,2,3,4}
s2 = {3,4,5,6}

In [20]:
s1 & s2

{3, 4}

In [22]:
s1.intersection(s2)

{3, 4}

In [40]:
#differnce of two sets
s1 = {2,3,5,6,7}
s2 = {5,6,7}
print(s1 - s2)
print(s2 - s1)

{2, 3}
set()

In [30]:
#Symmetric difference
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [32]:
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [44]:
#Subset and Superset
s1 = {1,2,3,4,5}
s2 = {1,2,3}
print(s2.issubset(s1))
print(s2.issuperset(s1))

True
False

STRINGS

In [47]:
str1 = 'Welcome to aiml class'
print(str1)
str2 = "We started with python"
print(str2)
str3 = '''This is an awesome class'''
print(str3)

Welcome to aiml class
We started with python
This is an awesome class

In [49]:
#Printing type

print(type(str1))
print(type(str2))
print(type(str3))

<class 'str'>
<class 'str'>
<class 'str'>

In [51]:
#Slicing in strings
print(str1)
str1[5:10]

Welcome to aiml class

'me to'

In [53]:
#Use of split()
print(str1)
str1.split()

Welcome to aiml class

['Welcome', 'to', 'aiml', 'class']

In [61]:
#Use of join() method
reviews = ["The product is awesome", "Great Service"]
joined_string = ';'.join(reviews)
joined_string

'The product is awesome;Great Service'

In [63]:
#Use of strip() method
str5 = "  Hello,How are you?  "
str5

'  Hello,How are you?  '

In [65]:
str5.strip()

'Hello,How are you?'

In [67]:
#Converting from upper to lower
str5 = 'Hello,How are you?'
str5.lower()

'hello,how are you?'

In [69]:
#Lower to upper
str5.upper()

'HELLO,HOW ARE YOU?'